.pretitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #9fb0c6;
  margin-bottom: 10px;
}

.title {
  font-weight: 600;
  font-size: 45px;
  line-height: 100%;
  text-align: center;
  color: #272d4e;
  margin-bottom: 80px;
}

.counters {
  padding-top: 150px;
  background-color: #fafcff;
  &_items {
    display: flex;
    justify-content: space-between;
    .item {
      display: flex;
      align-items: center;
      max-width: 410px;
      width: 100%;
      justify-content: left;
      &__image {
        padding: 20px;
        background-color: #fff2f2;
        width: 80px;
        height: 80px;
        border-radius: 12px;
        margin-right: 20px;
      }
      .info {
        .counter-count {
          font-family: 'Gilroy';
          text-align: left;
          font-weight: 700;
          font-size: 35px;
          line-height: 100%;
          color: #272d4e;
          margin-bottom: 5px;
        }
        &__label {
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #54667c;
        }
      }
    }
  }
}
