.footer {
  background: #ff5555;
  padding: 20px 0;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    display: flex;
    align-items: center;
    gap: 40px;
    a {
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: #ffffff;
    }
  }
  .copyright {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: #ffffff;
  }
}
