.button {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 16px 22px;
  border-radius: 12px;
  cursor: pointer;
  &-primary {
    background-color: #ff5555;
    color: white;
  }
  &-secondary {
    color: #ff5555;
    background-color: #fff2f2;
  }
}

.header {
  margin-top: 20px;
  margin-bottom: 150px;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav {
      display: flex;
      gap: 40px;
      align-items: center;
      &__link {
        color: #272d4e;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
      }
    }
  }
}
