.button {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 16px 22px;
  border-radius: 12px;
  cursor: pointer;
  &-primary {
    background-color: #ff5555;
    color: white;
    transition: all .2s ease-in-out;
    &:hover {
      background: #EF4C4C;
    }
  }
  &-secondary {
    color: #ff5555;
    background-color: #fff2f2;
    transition: all .2s ease-in-out;
    &:hover {
      background: #ff5555;
      color: white;
    }
  }
}

.header {
  margin-top: 20px;
  margin-bottom: 150px;
  &__logo {
    cursor: pointer;
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav {
      display: flex;
      gap: 40px;
      align-items: center;
      .logo {
        display: flex;
        align-items: center;
        gap: 15px;
      }
      &__link {
        color: #272d4e;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        transition: all .2s ease-in-out;
        position: relative;
        &::after {
          content: "";
          display: block;
          background: #ff5555;
          width: 0%;
          height: 2px;
          position: absolute;
          bottom: -10px;
          transition: all .3s ease-in-out;
        }
        &:hover {
          color: #ff5555;
          &::after {
            content: "";
            display: block;
            background: #ff5555;
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: -10px;
          }
        }
      }
    }
  }
}
