.how_it_works {
  margin-bottom: 150px;
  .hit-wrapper {
    .pretitle {
      text-align: left;
    }
    .title {
      text-align: left;
    }
    .steps {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      &__item {
        display: flex;
        align-items: center;
        width: 630px;
      }
      &__number {
        font-weight: 700;
        font-size: 60px;
        line-height: 100%;
        text-align: center;
        color: #272d4e;
        margin-right: 20px;
      }
      .info {
        .primary {
          color: #272D4E;
        }
        &-top {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
        }
        &__icon {
          margin-right: 10px;
        }
        &__title {
          font-weight: 600;
          font-size: 25px;
          line-height: 100%;
          color: #9fb0c6;
        }
        &-bottom {
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #c5d1e1;
        }
      }
      &__line {
        flex-basis: 100%;
        height: 1px;
        width: 1290px;
        background-color: #eaf0f7;
      }
    }
  }
}
