.team {
    margin-bottom: 150px;
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    &__item {
    }
    &__image {
      margin-bottom: 25px;
      position: relative;
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.03);
      img {
        border-radius: 12px;
        object-fit: cover;
        width: 410px;
        height: 300px;
      }
    }
    &__tag {
      padding: 10px 18px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #ff5555;
      background: #fff2f2;
      position: absolute;
      bottom: 15px;
      left: 10px;
      border-radius: 6px;
    }
    &__title {
      font-weight: 600;
      font-size: 35px;
      line-height: 100%;
      color: #272d4e;
      margin-bottom: 15px;
    }
    &__description {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #617185;
      margin-bottom: 10px;
    }
    .small {
      .cards {
        &__image {
          img {
            width: 300px;
            height: 220px;
          }
        }
        &__title {
            font-size: 25px;
        }
      }
    }
  }
  .button-link {
    background: none;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #ff5555;
  }
}
